<div class="col-md-12 text-center error-message">
<% if !flash[:error].nil? %>
  <%= flash[:error] %>
<% end %>
</div>


<%= form_for(:session_data, url: sessions_path, html: {class: "form-group" }) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
    <br>
    <%= f.submit "Login", class:"btn btn-info" %>
<% end %>

<%= link_to "Become a new merchant", new_merchant_path %>
