<div class="row cat-container">
  <div class="cat-link-container">
    <%= link_to "Shop All", products_path, class: "cat-link" %>
  </div>
  <% @categories.first(4).each do |category| %>
    <div class="cat-link-container">
      <%= link_to category.name, category_products_path(category), class: "cat-link" %>
    </div>
  <% end %>
  <div class="dropdown">
    <button class="merchant-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      More
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @categories[4..@categories.length].each do |category| %>
        <li><%= link_to category.name, category_products_path(category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="dropdown">
    <button class="merchant-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Merchants
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @merchants.each do |merchant| %>
        <li><%= link_to merchant.user_name, merchant_products_path(merchant) %></li>
      <% end %>
    </ul>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>Dumbledore's Picks</h1>
  </div>
  <% @featured_products.each do |product| %>
    <div class="col-md-4">
      <% if !product.retire? %>
        <div class="thumbnail">
          <%= link_to image_tag(product.photo_url, class: "thumbnail-image"), product %>
        </div>
        <div class="caption">
          <%= link_to product.name, product, class: "caption-name" %>
          $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
