<!-- <h3>Hello <%= @user_name if !@user_name.nil? %>!</h3> -->
<div class="row cat-container">
  <% @categories.each do |category| %>
    <div class="cat-link-container">
      <%= link_to category.name, category_products_path(category), class: "cat-link" %>
    </div>
  <% end %>
  <div class="cat-link-container">
    <%= link_to "All Products", products_path, class: "cat-link" %>
  </div>
</div>
<hr>

<!-- <% @featured_products.each do |product| %>
  <%= link_to image_tag(product.photo_url), product_path(product) %>
<% end %> -->

<div class="row">
  <% @featured_products.each do |product| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(product.photo_url, class: "thumbnail-image"), product %>
        <!-- <%= image_tag(product.photo_url, class: "thumbnail-image") %> -->
      </div>
      <div class="caption">
        <%= link_to product.name, product %>
        $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
      </div>
    </div>
  <% end %>
</div>
