<div class="row">
  <div class="col-md-12 text-center">
    <h1>CHECKOUT</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center subtotal">
    <h5>SUBTOTAL: $<%= number_with_precision(@subtotal, :precision => 2, :delimiter => ',') %></h5>
  </div>
</div>

<%= form_for @order do |f| %>
  <h2>Shipping Information</h2>
  <div class="form-group">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name, class: "form-control" %>

    <%= f.label :customer_email %>
    <%= f.email_field :customer_email, class: "form-control" %>

    <%= f.label :customer_address %>
    <%= f.text_field :customer_address, class: "form-control" %>

    <%= f.submit "Continue", class: "btn btn-default" %>
  </div>
<% end %>
