<div class="row">
  <div class="col-md-12 text-center">
    <% if !flash[:error].nil? %>
      <div class= "alert alert-danger" role="alert"><%= flash[:error] %></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>CHECKOUT</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center subtotal">
    <h5>SUBTOTAL: $<%= number_with_precision(@subtotal, :precision => 2, :delimiter => ',') %></h5>
  </div>
</div>

<div class="row">
  <div class="checkout-errors">
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li>
          <strong><%= message %> </strong>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if session[:shipping].nil? %>
  <%= form_for @order, :url => "/checkout", :html => { :method => :post } do |f| %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Shipping Information</h2>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :customer_name, class: "form-control", required: :true %>

      <%= f.label :email %>
      <%= f.email_field :customer_email, class: "form-control", required: :true %>

      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: "form-control", required: :true %>

      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", required: :true %>

      <%= f.label :state %>
      <%= f.select :state, options_for_select(us_states), class: "form-control", required: :true %>
      <br>
      <%= f.label :zip_code %>
      <%= f.number_field :zip_code, class: "form-control", required: :true %>

      <%= f.submit "Submit Shipping Information", :action => "confirmation", class: "btn black-button margin-top margin-bottom" %>
    <% end %>
    </div>
<% end %>



<% if session[:shipping] %>

  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Shipping Information</h2>
      <%= @order.customer_name %><br>
      <%= @order.street_address %><br>
      <%= @order.city %><br>
      <%= @order.state %><br>
      <%= @order.zip_code %><br><br>
      <%= link_to "Change Shipping Information", change_shipping_path %>
    </div>

    <div class="col-md-6 text-center">
      <h2>Select a Shipping Option</h2>
      <div class="col-md-offset-3 shipping-options">
        <% if @estimate %>
          <%= form_for @order, :url => "/confirmation", :html => { :method => :post } do |f| %>
            <% @estimates.each do |carrier| %>
              <% carrier.each do |estimate| %>
                  <%= radio_button_tag(:estimate, "#{estimate[0]}, #{estimate[1]}") %>
                  <%= label_tag(:estimate, "#{estimate[0]}: #{number_to_currency(estimate[1]/100)}") %>
                  <br>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Billing Information</h2>
            </div>
          </div>
          <div class="form-group">

          <%= f.label :name_on_card %>
          <%= f.text_field :name_on_card, class: "form-control", required: :true %>

          <%= f.label :gringotts_card_number %>
          <%= f.number_field :card_number, class: "form-control", required: :true %>

          <%= f.label :expiration_date %>
          <%= f.select :customer_card_exp_month, options_for_select(["Month", "01", "02", "03", "04", "05", "06", "07",
             "08", "09", "10", "11", "12"]),
            class: "form-control", required: :true %>
          <span> / </span>
          <%= f.select :customer_card_exp_year, options_for_select(["Year", "2015", "2016", "2017", "2018", "2019", "2020", "2021",
            "2022", "2023", "2024", "2025"]),
           class: "form-control", required: :true %>
           <br>
          <%= f.label :security_code %>
          <%= f.number_field :security_code, class: "form-control", required: :true %>

          <%= f.label :billing_zip_code %>
          <%= f.number_field :billing_zip_code, class: "form-control", required: :true %>
          <div class="col-md-12 text-center">
            <%= f.submit "Submit Order", :action => "confirmation", class: "btn black-button margin-top margin-bottom" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      Something went wrong, there are no estimates.
    <% end %>

