<div class="row">
  <div class="col-md-12 text-center">
    <h1>CHECKOUT</h1>
  </div>
</div>

<% if !flash.now[:error].nil? %>
  <div class="col-md-12 text-center error-message">
    <%= flash.now[:error] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 text-center subtotal">
    <h5>SUBTOTAL: $<%= number_with_precision(@subtotal, :precision => 2, :delimiter => ',') %></h5>
  </div>
</div>

<%= form_for @order, :url => "/confirmation", :action => :confirmation, :html => { :method => :post } do |f| %>
  <h2>Shipping Information</h2>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :customer_name, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :customer_email, class: "form-control" %>

    <%= f.label :street_address %>
    <%= f.text_field :street_address, class: "form-control" %>

    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>

    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states), class: "form-control" %>

    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, class: "form-control" %>

    <h2>Billing Information</h2>

    <%= f.label :name_on_card %>
    <%= f.text_field :name_on_card, class: "form-control" %>

    <%= f.label :card_number %>
    <%= f.number_field :card_number, class: "form-control" %>

    <%= f.label :expiration_date_month %>
    <%= f.number_field :customer_card_exp_month, class: "form-control" %>

    <%= f.label :expiration_date_year %>
    <%= f.number_field :customer_card_exp_year, class: "form-control" %>

    <%= f.label :security_code %>
    <%= f.number_field :security_code, class: "form-control" %>

    <!-- <label for="ccv">Security Code</label>
    <input name="ccv" type="number_field" class="form-control" /> -->

    <%= f.label :billing_zip_code %>
    <%= f.number_field :billing_zip_code, class: "form-control" %>

    <%= f.submit "Submit Order", :action => "confirmation", class: "btn btn-default" %>
  </div>
<% end %>
