<h1> Order details for Order # <%= @order.id %> </h1>
<h1> Customer Name: <%= @order.customer_name %> </h1>
<h5> Address: <%=@order.street_address%> </h5>
<h5>          <%=@order.city%>, <%=@order.state%> <%=@order.zip_code%> </h5>

<h5> Email: <%=@order.customer_email%> </h5>
<h1> Payment Information </h1>
<h5> Card Number: XXXX-XXXX-XXXX-<%=@order.card_number%> </h5>
<h5> Exp: <%=@order.customer_card_exp_month%> / <%=@order.customer_card_exp_year%></h5>
<h1> Items Ordered </h1>
<% @order_items.each do |item| %>
  <%= item.product.name %>
<% end %>
