<h1><%= @merchant.user_name%></h1>
<h1><%= link_to "Add a Product", new_merchant_product_path(@merchant), :class => 'btn btn-large btn-primary' %></h1>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th> Order Id</th>
      <th> Items </th>
      <th><div class="dropdown">
        <button class="merchant-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Order Status
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "All", merchant_path(sort:'all')%></li>
          <li><%= link_to "Pending", merchant_path(sort:'pending')%></li>
          <li><%= link_to "Paid", merchant_path(sort:'paid')%></li>
          <li><%= link_to "Complete", merchant_path(sort:'complete')%></li>
          <li><%= link_to "Cancelled", merchant_path(sort:'cancelled')%></li>
        </ul>
      </div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @orders.each do |order| %>
        <td><%= link_to order.id, order %><br><small> Ordered on: <%= order.order_time %></small></td>
          <td>
            <% order.products.each do |product| %>
              <% if product.merchant_id == @merchant.id%>
                <%= link_to product.name, product %>
                $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
                <% product.order_items.each do |item|%>
                  <% if item.order.id == order.id%><br>
                    <%= "   Quantity: " + item.quantity.to_s %>
                    <%= "   Total: $" + (item.quantity * product.price).to_s + "0" %>
                      <%if item.shipped?%>
                      <%= link_to("", :class => "btn btn-danger") do %>
                      <!-- This button goes nowhere, it just is a visual contrast to the "mark as shipped button" -->
                        Item has shipped
                        <% end %>
                      <% else %>
                        <%= link_to(shipped_order_item_path(item), :method => :put, :class => "btn btn-default", :id => 'all-button') do %>
                        Mark As Shipped
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <td><%= order.status %></td></tr>
      <% end %>
  </tbody>
</table>
<p>
  <% @products.each do |product| %>
    <% product.order_items.each do |order|%>
      <% if order.order.status == "pending"%>
        <% cart_total = product.price * order.quantity %>
        <%@pending_revenue += cart_total%>
      <% elsif order.order.status == "paid"%>
        <% cart_total = product.price * order.quantity %>
        <%@paid_revenue += cart_total%>
      <% elsif order.order.status == "complete"%>
        <% cart_total = product.price * order.quantity %>
        <%@complete_revenue += cart_total%>
      <% elsif order.order.status == "cancelled"%>
        <% cart_total = product.price * order.quantity %>
        <%@cancelled_revenue += cart_total%>
      <% end %>
    <% end %>
    <p>Total Revenue for Pending Orders: $<%= number_with_precision(@pending_revenue, :precision => 2, :delimiter => ',') %></p>
    <p>Total Revenue for Paid Orders: $<%= number_with_precision(@paid_revenue, :precision => 2, :delimiter => ',') %></p>
    <p>Total Revenue for Cancelled Orders: - $<%= number_with_precision(@cancelled_revenue, :precision => 2, :delimiter => ',') %></p>
    <p>Total Revenue for Completed Orders:$<%= number_with_precision(@complete_revenue, :precision => 2, :delimiter => ',') %></p>

  <% end %> </p>
  <p><strong>Total Net Revenue: $<%= number_with_precision((@paid_revenue + @complete_revenue), :precision => 2, :delimiter => ',') %></strong></p>
  <p>Total Pending Orders: <%= @orders.where(status: "pending").count %></p>
  <p>Total Cancelled Orders: <%= @orders.where(status: "cancelled").count %></p>
  <p>Total Paid Orders: <%= @orders.where(status: "paid").count %></p>
  <p>Total Completed Orders: <%= @orders.where(status: "complete").count %></p>
  <p><strong>Total Orders: <%= @orders.count %></strong></p>
