<p><%= @merchant.user_name%></p>
<p>
  <% @products.each do |product| %>
    <% product.order_items.each do |order|%>
      <% if order.order.status == "pending"%>
        <% cart_total = product.price * order.quantity %>
        <%@pending_revenue += cart_total%>
        Total Revenue for Pending Orders: $<%= number_with_precision(cart_total, :precision => 2, :delimiter => ',') %>
      <% elsif order.order.status == "paid"%>
        <% cart_total = product.price * order.quantity %>
        <%@paid_revenue += cart_total%>
        Total Revenue for Paid Orders: $<%= number_with_precision(cart_total, :precision => 2, :delimiter => ',') %>
      <% elsif order.order.status == "complete"%>
        <% cart_total = product.price * order.quantity %>
        <%@complete_revenue += cart_total%>
        Total Revenue for Completed Orders:$<%= number_with_precision(cart_total, :precision => 2, :delimiter => ',') %>
      <% elsif order.order.status == "cancelled"%>
        <% cart_total = product.price * order.quantity %>
        <%@cancelled_revenue += cart_total%>
        Total Revenue for Cancelled Orders: - $<%= number_with_precision(cart_total, :precision => 2, :delimiter => ',') %>
      <% end %>
    <% end %>
  <% end %> </p>

<p>Total Net Revenue: $<%= number_with_precision((@pending_revenue + @paid_revenue + @complete_revenue), :precision => 2, :delimiter => ',') %></p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(product.photo_url, class: "thumbnail-image"), product %>
      </div>
      <div class="caption">
        <%= link_to product.name, product %>
        $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
      </div>
    </div>
  <% end %>
</div>
