<div class="row">
  <div class="col-lg-12">
    <fieldset>
      <%= form_for @category, :html => {:class => "form" } do |f| %>
        <h2>New Category</h2>
        <div class="form-group">
          <%= f.label :name, "Category Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <%= f.submit "Save and Add Another", class: "btn btn-default" %>
        <%= f.submit "Save", class: "btn btn-default" %>
      <% end %>
    </fieldset>
  </div>
</div>
