<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-4">
    <h1>SWAGRID</h1>
    <!-- change to new_session_paths -->
  </div>
  <div class="col-md-1">
    <%= link_to "LOGIN", "/", class: "btn btn-default" %>
  </div>
  <div class="col-md-1">
    <%= link_to "LOGOUT", "/", class: "btn btn-default" %>
  </div>
  <div class="col-md-1">
    <%= link_to "CART", "/", class: "btn btn-default" %>
  </div>
</div>

<h1> dropdown or nav to categories goes here </h1>
<h1> dropdown merchants goes here </h1>

<div class="row">
  <div class="col-md-12 text-center">
    <h1> All Products </h1>
  </div>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag(product.photo_url, class: "thumbnail-image") %>
      </div>
      <div class="caption">
        <%= link_to product.name, product %>
        <%= product.price %>
      </div>
    </div>
  <% end %>
</div>
