
<div class="row cat-container">
  <div class="cat-link-container">
    <%= link_to "Shop All", products_path, class: "cat-link" %>
  </div>
  <% @categories.each do |category| %>
    <div class="cat-link-container">
      <%= link_to category.name, category_products_path(category), class: "cat-link" %>
    </div>
  <% end %>
  <div class="dropdown">
    <button class="merchant-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Merchants
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @merchants.each do |merchant| %>
        <li><%= link_to merchant.user_name, merchant_products_path(merchant) %></li>
      <% end %>
    </ul>
  </div>
</div>
<hr>

<!-- <h4> dropdown merchants goes here </h4> -->

<div class="row">
  <div class="col-md-12 text-center">
    <h1> <%= @header %> </h1>
  </div>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="thumbnail-container">
          <%= link_to image_tag(product.photo_url, class: "thumbnail-image"), product %>
        </div>
        <div class="caption">
          <strong><%= link_to product.name, product, class: "caption-name" %></strong>
          $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>

        <% if !@current_user.nil? && @current_user.id == product.merchant_id %>

          <div class="btn-group dropup">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Update <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-group-xs">
              <li><%= link_to '<i class="fa fa-pencil-square-o"> Edit</i>'.html_safe, edit_product_path(product.id) %></li>
              <li><%= link_to '<i class="fa fa-times"> Delete</i>'.html_safe, product_path(product),method: :delete, data: { confirm: "Are you sure?" } %></li>
              <li><%= link_to '<i class="fa fa-minus-square"> Retire</i>'.html_safe, retire_product_path(product.id) %></li>
            </ul>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
