<div class="col-md-12 text-center">
  <h1> <%= @product.name %> </h1>
  <%= image_tag(@product.photo_url) %>
  <h4> Price: <%= @product.price %> </h4>
  <p> <%= @product.description %></p>

  <h4> LINK TO LEAVE A NEW REVIEW GOES HERE </h4>

  <table class="table table-hover">
      <tbody>
        <% @product.reviews.each do |review| %>
          <tr>
            <td> <%= review.rating %></td>
            <td> <%= review.description %></td>
          </tr>
          <% end %>
      </tbody>
  </table>
</div>
