<!DOCTYPE html>
<html>
<head>
  <title>Swagrid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <%= link_to "SWAGRID", "/", class: "nav-header" %>
      <!-- change to new_session_paths -->
    </div>
    <div class="col-md-1">
      <%= link_to "LOGIN", new_session_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-1">
      <%= link_to "SIGN UP", "/", class: "btn btn-default" %>
    </div>
    <div class="col-md-1">
      <%= link_to "CART", "/cart", class: "btn btn-default" %>
    </div>
  </div>

  <%= yield %>
</div>
</body>
</html>
